@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100;
  background-color: #EBE5DB;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
}

header {
  position: fixed;
  width: 100%;
  background-color: #EBE5DB;
  box-shadow: 0px 0px 25px 0px #000000;
  padding: auto;
  z-index: 1000000000;
}
header .promocionesBancarias {
  background-color: #412F26;
}
header .promocionesBancarias p {
  font-size: 18px;
  text-align: center;
  color: #EBE5DB;
  margin: 0px;
}
@media (max-width: 576px) {
  header .promocionesBancarias p {
    font-size: 12px;
    padding: 15px 20px;
  }
}
header .navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  header .navbar {
    box-shadow: 0px 0px 15px 0px #000000;
    z-index: 1000000;
  }
}
header .navbar .logo a {
  font-size: 28px;
  font-weight: 500;
  padding: 0px;
}
@media (max-width: 576px) {
  header .navbar .logo a {
    font-size: 18px;
  }
}
header .navbar .links {
  display: flex;
  gap: 20px;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 576px) {
  header .navbar .links {
    display: none;
  }
}
header .navbar .links .submenu {
  position: absolute;
  width: 300px;
  border-radius: 0px 0px 10px 10px;
  background-color: #EBE5DB;
  box-shadow: 0px 20px 45px #412F26;
  margin-top: -50px;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
}
header .navbar .links .submenu li {
  margin: 0;
  width: 100%;
}
header .navbar .links .submenu li a {
  padding: 15px 20px;
  display: inline-block;
  width: 100%;
}
header .navbar .links li:hover .submenu {
  z-index: 99;
  opacity: 1;
  margin-top: 18px;
}
header .navbar .links li a:hover {
  color: #CE8523;
}
header .navbar .linksItems {
  display: flex;
  gap: 20px;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 576px) {
  header .navbar .linksItems {
    display: none;
  }
}
header .navbar .linksItems a:hover {
  color: #CE8523;
}
header .navbar .menuDeHamburguesa {
  color: #412F26;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
@media (max-width: 576px) {
  header .navbar .menuDeHamburguesa {
    display: block;
  }
}
header .dropdown_menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 0px;
  background: rgba(237, 225, 210, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
header .dropdown_menu li {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  header .dropdown_menu {
    display: block;
  }
}
header .dropdown_menu.open {
  height: 300px;
}

footer {
  margin-top: auto;
}
footer .contenedorFooter {
  background-color: #412F26;
  padding: 40px 60px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 576px) {
  footer .contenedorFooter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
footer .contenedorFooter .footer-contenedor {
  color: #EBE5DB;
  display: inline;
}
@media (max-width: 576px) {
  footer .contenedorFooter .footer-contenedor {
    align-items: center;
    margin: 20px;
  }
}
footer .contenedorFooter .footer-contenedor a {
  color: #EBE5DB;
}
footer .contenedorFooter .footer-contenedor a:hover {
  color: #CE8523;
}
footer .contenedorFooter .footer-contenedor .formularioParaNewsletter {
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}
footer .contenedorFooter .footer-contenedor .formularioParaNewsletter input {
  width: 100%;
  height: 100%;
  background: none;
  color: #ffffff;
  padding-top: 20px;
  border: none;
  outline: 0px;
}
footer .contenedorFooter .footer-contenedor .formularioParaNewsletter .lbl-nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #EBE5DB;
}
footer .contenedorFooter .footer-contenedor .formularioParaNewsletter .lbl-nombre:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #EBE5DB;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
footer .botonIrHaciaArriba {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #c9b09a;
  border-radius: 50%;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  box-shadow: 3px 3px 3px 3px #1E1611;
}
@media (max-width: 576px) {
  footer .botonIrHaciaArriba {
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 35px;
    line-height: 30px;
    font-size: 16px;
  }
}
footer .botonIrHaciaArriba a i {
  padding-top: 15px;
}
@media (max-width: 576px) {
  footer .botonIrHaciaArriba a i {
    padding-top: 12px;
  }
}

.banner {
  background-image: url(../recursos/imagenes/BannerImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}
@media (max-width: 576px) {
  .banner {
    background-image: url(../recursos/imagenes/Masajeador-Accesorio.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 700px;
  }
}
.banner .contenedor .contenedor-banner {
  color: #EBE5DB;
  padding-top: 350px;
  padding-left: 100px;
}
@media (max-width: 576px) {
  .banner .contenedor .contenedor-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 50px 40px 50px;
  }
}
.banner .contenedor .contenedor-banner span {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}
@media (max-width: 576px) {
  .banner .contenedor .contenedor-banner span {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
.banner .contenedor .contenedor-banner h1 {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 680;
  letter-spacing: 4px;
}
@media (max-width: 576px) {
  .banner .contenedor .contenedor-banner h1 {
    margin-bottom: 4px;
    font-size: 28px;
  }
}
.banner .contenedor .contenedor-banner p {
  margin-bottom: 40px;
  font-size: 18px;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .banner .contenedor .contenedor-banner p {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.banner .contenedor .contenedor-banner a {
  background-color: #EBE5DB;
  color: #412F26;
  padding: 10px 30px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .banner .contenedor .contenedor-banner a {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
  }
}

.productoALaVenta1 .tonicoALaVenta {
  margin: 20px;
  display: flex;
}
@media (max-width: 576px) {
  .productoALaVenta1 .tonicoALaVenta {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
}
.productoALaVenta1 .tonicoALaVenta .imagenProductoALaVenta1 img {
  padding: 20 20;
  border-radius: 5%;
  width: 1000px;
  height: 800px;
}
@media (max-width: 576px) {
  .productoALaVenta1 .tonicoALaVenta .imagenProductoALaVenta1 img {
    padding: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
.productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 {
  padding: 300px 150px 300px 150px;
  text-align: center;
}
@media (max-width: 576px) {
  .productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 {
    padding: 40px 20px 40px 20px;
  }
}
.productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #412F26;
}
@media (max-width: 576px) {
  .productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 h2 {
    font-size: 20px;
  }
}
.productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 p {
  color: #412F26;
  margin-bottom: 40px;
  font-size: 18px;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 p {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 a {
  background-color: #412F26;
  color: #EBE5DB;
  padding: 10px 30px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .productoALaVenta1 .tonicoALaVenta .indicacionesDelProductoALaVenta1 a {
    background-color: #412F26;
    color: #EBE5DB;
    padding: 10px 30px;
    border-radius: 10px;
  }
}

.apartadoSobreNosotros .contenedorConocenos {
  background-image: url(../recursos/imagenes/BannerFinal-SobreNosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 400px;
  padding-left: 650px;
  width: 100%;
  height: 90vh;
}
@media (max-width: 576px) {
  .apartadoSobreNosotros .contenedorConocenos {
    background-image: url(../recursos/imagenes/Mision-Vision-NaturalSkin.jpg);
    text-align: center;
    padding: 400px 0px 50px 0px;
    height: 70vh;
  }
}
.apartadoSobreNosotros .contenedorConocenos h2 {
  font-size: 60px;
  font-weight: 680;
  letter-spacing: 4px;
  color: #EBE5DB;
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  .apartadoSobreNosotros .contenedorConocenos h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #412F26;
    opacity: 80%;
  }
}
.apartadoSobreNosotros .contenedorConocenos a {
  background-color: #EBE5DB;
  color: #412F26;
  padding: 10px 30px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .apartadoSobreNosotros .contenedorConocenos a {
    padding: 10px 30px;
    border-radius: 10px;
  }
}

.productoALaVenta2 .carbonActivadoALaVenta {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 576px) {
  .productoALaVenta2 .carbonActivadoALaVenta {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
}
.productoALaVenta2 .carbonActivadoALaVenta .imagenProductoALaVenta2 img {
  padding: 20px;
  border-radius: 5%;
  width: 1000px;
  height: 800px;
}
@media (max-width: 576px) {
  .productoALaVenta2 .carbonActivadoALaVenta .imagenProductoALaVenta2 img {
    padding: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
.productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 {
  padding: 300px 150px 300px 150px;
  text-align: center;
}
@media (max-width: 576px) {
  .productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 {
    padding: 40px 20px 40px 20px;
  }
}
.productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #412F26;
}
@media (max-width: 576px) {
  .productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 h2 {
    font-size: 20px;
  }
}
.productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 p {
  color: #412F26;
  margin-bottom: 40px;
  font-size: 18px;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 p {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 a {
  background-color: #412F26;
  color: #EBE5DB;
  padding: 10px 30px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .productoALaVenta2 .carbonActivadoALaVenta .indicacionesDelProductoALaVenta2 a {
    background-color: #412F26;
    color: #EBE5DB;
    padding: 10px 30px;
    border-radius: 10px;
  }
}

.promociónDeInstagram {
  text-align: center;
  padding-top: 20px;
}
@media (max-width: 576px) {
  .promociónDeInstagram {
    padding-top: 10px;
  }
}
.promociónDeInstagram h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #412F26;
}
@media (max-width: 576px) {
  .promociónDeInstagram h2 {
    font-size: 20px;
  }
}
.promociónDeInstagram a {
  background-color: #412F26;
  color: #EBE5DB;
  display: block;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 4px;
  padding: 10px 40px;
}
@media (max-width: 576px) {
  .promociónDeInstagram a {
    font-size: 16px;
    padding: 5px 20px;
  }
}

.imagenesDeinstagram {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .imagenesDeinstagram {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.imagenesDeinstagram img {
  width: 400px;
  height: 600px;
  border-radius: 5%;
  margin: 20 90;
  display: block;
  object-fit: cover;
}
@media (max-width: 576px) {
  .imagenesDeinstagram img {
    width: 100%;
    height: 600px;
    margin: 10px 10px;
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .encabezadoSobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.encabezadoSobreNosotros .apartadoIdentificadorSobreNosotros {
  padding-top: 120px;
  margin: auto;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 576px) {
  .encabezadoSobreNosotros .apartadoIdentificadorSobreNosotros {
    padding: 160px 0px 0px 0px;
    text-align: center;
    font-size: 28px;
  }
}
.encabezadoSobreNosotros p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  padding: 40px 500px 40px 500px;
}
@media (max-width: 576px) {
  .encabezadoSobreNosotros p {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    padding: 20px 20px;
  }
}

.sobreNosotros .nuestraHistoria .imagenSobreNosotros img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  display: inline-block;
}
@media (max-width: 576px) {
  .sobreNosotros .nuestraHistoria .imagenSobreNosotros img {
    border-radius: 3%;
    padding: 0px 0px;
    height: 600px;
  }
}
.sobreNosotros .nuestraHistoria .historiaSobreLaMarca {
  text-align: center;
  margin: 100px 40px;
  padding: 100px;
  background-color: #412F26;
  border-radius: 20px;
  box-shadow: 20px 20px 39px #8f8e89, -20px -20px 39px #ffffff;
}
@media (max-width: 576px) {
  .sobreNosotros .nuestraHistoria .historiaSobreLaMarca {
    margin: 40px 20px;
    padding: 20px;
  }
}
.sobreNosotros .nuestraHistoria .historiaSobreLaMarca h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #EBE5DB;
  padding: 20px 0px;
}
@media (max-width: 576px) {
  .sobreNosotros .nuestraHistoria .historiaSobreLaMarca h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0px;
  }
}
.sobreNosotros .nuestraHistoria .historiaSobreLaMarca p {
  color: #EBE5DB;
  margin-bottom: 40px;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0px 40px;
}
@media (max-width: 576px) {
  .sobreNosotros .nuestraHistoria .historiaSobreLaMarca p {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0px 20px;
  }
}

.visionYMisionDeLaMarca {
  display: flex;
  justify-content: space-between;
  margin: 100px 40px;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
  }
}
.visionYMisionDeLaMarca .misionDeNaturalSkin {
  color: #412F26;
  height: 500px;
  width: 500px;
  padding: 100px 100px;
  border-radius: 20px;
  box-shadow: 20px 20px 39px #8f8e89, -20px -20px 39px #ffffff;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca .misionDeNaturalSkin {
    height: 330px;
    width: 330px;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 0px;
  }
}
.visionYMisionDeLaMarca .misionDeNaturalSkin h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 40px 10px;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca .misionDeNaturalSkin h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 10px;
  }
}
.visionYMisionDeLaMarca .misionDeNaturalSkin p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 40px 10px;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca .misionDeNaturalSkin p {
    font-size: 20px;
  }
}
.visionYMisionDeLaMarca img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 10%;
  border-radius: 20px;
  box-shadow: 20px 20px 39px #8f8e89, -20px -20px 39px #ffffff;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca img {
    height: 330px;
    width: 330px;
    margin: 20px 0px;
  }
}
.visionYMisionDeLaMarca .visionDeNaturalSkin {
  color: #412F26;
  height: 500px;
  width: 500px;
  padding: 100px 100px;
  border-radius: 20px;
  box-shadow: 20px 20px 39px #8f8e89, -20px -20px 39px #ffffff;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca .visionDeNaturalSkin {
    height: 330px;
    width: 330px;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 0px;
  }
}
.visionYMisionDeLaMarca .visionDeNaturalSkin h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 40px 10px;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca .visionDeNaturalSkin h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 10px;
  }
}
.visionYMisionDeLaMarca .visionDeNaturalSkin p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 40px 10px;
}
@media (max-width: 576px) {
  .visionYMisionDeLaMarca .visionDeNaturalSkin p {
    font-size: 20px;
  }
}

.bannerFinalSobreNosotros img {
  width: 100%;
  height: 1200px;
  object-fit: cover;
  display: inline-block;
}
@media (max-width: 576px) {
  .bannerFinalSobreNosotros img {
    padding: 0px 0px;
    height: 600px;
  }
}
.bannerFinalSobreNosotros p {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #EBE5DB;
  background-color: #c9b09a;
  padding: 60px;
  margin-top: 25px;
}
@media (max-width: 576px) {
  .bannerFinalSobreNosotros p {
    font-size: 24px;
    padding: 20px;
    margin-top: 26px;
  }
}

.encabezadoDeContactos .apartadoIdentificadorContacto {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #412F26;
  margin-left: 40px;
  padding-top: 120px;
  text-align: center;
}
@media (max-width: 576px) {
  .encabezadoDeContactos .apartadoIdentificadorContacto {
    padding: 160px 40px 0px 0px;
    text-align: center;
    font-size: 28px;
  }
}
.encabezadoDeContactos p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  padding: 40px 200px 100px 200px;
}
@media (max-width: 576px) {
  .encabezadoDeContactos p {
    font-size: 18px;
    padding: 20px;
  }
}
.encabezadoDeContactos .aclaracionEnContactos p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  padding: 40px 200px 40px 200px;
  background-color: #c9b09a;
  color: #EBE5DB;
}
@media (max-width: 576px) {
  .encabezadoDeContactos .aclaracionEnContactos p {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 20px;
  }
}

.apartadoContacto {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 100px 280px;
}
@media (max-width: 576px) {
  .apartadoContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .apartadoContacto .imagenDeContacto {
    margin-right: 280px;
  }
}
.apartadoContacto .imagenDeContacto img {
  margin-top: 20px;
  margin-left: 80px;
  border-radius: 5%;
  width: 600px;
  height: 800px;
  object-fit: cover;
  border-radius: 54px;
  box-shadow: 20px 20px 39px #8f8e89, -20px -20px 39px #ffffff;
}
@media (max-width: 576px) {
  .apartadoContacto .imagenDeContacto img {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: auto;
    width: 330px;
    height: 600px;
  }
}
.apartadoContacto .formularioDeContacto {
  padding-top: 200px;
  margin-right: 600px;
  text-align: initial;
}
@media (max-width: 576px) {
  .apartadoContacto .formularioDeContacto {
    padding-top: 40px;
    margin-right: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.apartadoContacto .formularioDeContacto a {
  padding-left: 60px;
}
@media (max-width: 576px) {
  .apartadoContacto .formularioDeContacto a {
    padding-left: 0px;
    margin: 10px 0px;
  }
}
.apartadoContacto .formularioDeContacto .formularioRellenarDatos {
  margin: 30 100;
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 576px) {
  .apartadoContacto .formularioDeContacto .formularioRellenarDatos {
    margin: 15px 50px;
    width: 100%;
    height: 50px;
    max-width: 300px;
  }
}
.apartadoContacto .formularioDeContacto .formularioRellenarDatos input {
  width: 100%;
  height: 100%;
  background: none;
  color: #412F26;
  padding-top: 20px;
  border: none;
  outline: 0px;
}
@media (max-width: 576px) {
  .apartadoContacto .formularioDeContacto .formularioRellenarDatos input {
    padding-top: 10px;
  }
}
.apartadoContacto .formularioDeContacto .formularioRellenarDatos .lbl-nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #412F26;
}
.apartadoContacto .formularioDeContacto .formularioRellenarDatos .lbl-nombre:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #412F26;
}
.apartadoContacto .formularioDeContacto .btn-Enviar {
  margin-left: 470px;
}
@media (max-width: 576px) {
  .apartadoContacto .formularioDeContacto .btn-Enviar {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.apartadoContacto .formularioDeContacto .btn-Enviar a {
  color: #EBE5DB;
  background-color: #412F26;
  padding: 10px 30px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .apartadoContacto .formularioDeContacto .btn-Enviar a {
    padding: 10px 100px;
  }
}

.apartadoIdentificadorProductos {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #412F26;
  margin-left: 40px;
  padding-top: 120px;
  text-align: center;
}
@media (max-width: 576px) {
  .apartadoIdentificadorProductos {
    font-size: 28px;
    letter-spacing: 2px;
    margin-left: 8px;
    padding-top: 160px;
  }
}

.apartadoDeBusquedas .contenedorDelBuscador {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .apartadoDeBusquedas .contenedorDelBuscador {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
  }
}
.apartadoDeBusquedas .contenedorDelBuscador .buscador {
  width: 100%;
  max-width: 700px;
  height: 60px;
  background: #412F26;
  opacity: 70%;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(100%);
}
@media (max-width: 576px) {
  .apartadoDeBusquedas .contenedorDelBuscador .buscador {
    width: 100%;
    max-width: 700px;
    height: 50px;
    padding: 5px 10px;
  }
}
.apartadoDeBusquedas .contenedorDelBuscador .buscador input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24 20;
  font-size: 20px;
  color: #EBE5DB;
}
.apartadoDeBusquedas .contenedorDelBuscador .buscador input::placeholder {
  color: #EBE5DB;
}
@media (max-width: 576px) {
  .apartadoDeBusquedas .contenedorDelBuscador .buscador input {
    padding: 12px 20px;
    font-size: 16px;
  }
}
.apartadoDeBusquedas .contenedorDelBuscador .buscador button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .apartadoDeBusquedas .contenedorDelBuscador .buscador button {
    width: 60px;
    height: 60px;
  }
}
.apartadoDeBusquedas .contenedorDelBuscador .buscador button i {
  align-items: center;
}
@media (max-width: 576px) {
  .apartadoDeBusquedas .contenedorDelBuscador .buscador button i {
    font-size: 20px;
  }
}

.productos {
  display: flex;
}
@media (max-width: 576px) {
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.productos .listaDeProductos {
  margin: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.productos .listaDeProductos .contenedorDeProducto {
  display: inline-block;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 20px;
}
@media (max-width: 576px) {
  .productos .listaDeProductos .contenedorDeProducto {
    display: flex;
    justify-content: center;
  }
}
.productos .listaDeProductos .contenedorDeProducto:hover {
  border-radius: 20px;
  box-shadow: 20px 20px 39px #8f8e89, -20px -20px 39px #ffffff;
}
@media (max-width: 576px) {
  .productos .listaDeProductos .contenedorDeProducto:hover {
    box-shadow: none;
  }
}
.productos .listaDeProductos .contenedorDeProducto img {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.productos .listaDeProductos .contenedorDeProducto div {
  background-color: #412F26;
  border-radius: 0px 0px 20px 20px;
  color: #EBE5DB;
}
.productos .listaDeProductos .contenedorDeProducto .informaciónDelProducto {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .productos .listaDeProductos .contenedorDeProducto .informaciónDelProducto {
    width: 320px;
  }
}
.productos .listaDeProductos .contenedorDeProducto .informaciónDelProducto p {
  font-size: 25px;
  font-weight: 300;
}
.productos .listaDeProductos .contenedorDeProducto .informaciónDelProducto .precio {
  font-size: 20px;
  font-weight: 500;
}
.productos .listaDeProductos .contenedorDeProducto .informaciónDelProducto .precio span {
  font-size: 17px;
  font-weight: 300;
}
@media (max-width: 576px) {
  .productos .listaDeProductos .contenedorDeProducto .informaciónDelProducto .precio span {
    font-size: 16px;
  }
}
.productos .listaDeProductos .contenedorDeProducto .informaciónDelProducto button {
  background-color: #EBE5DB;
  color: #412F26;
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  align-items: center;
}

.productoSeleccionado {
  display: flex;
}
@media (max-width: 576px) {
  .productoSeleccionado {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.productoSeleccionado img {
  width: 1000px;
  height: 1200px;
  object-fit: cover;
  border-radius: 40px;
  margin: 100px 40px 40px 40px;
}
@media (max-width: 576px) {
  .productoSeleccionado img {
    width: 100%;
    height: 70vh;
    margin: 160px 40px 0px 0px;
    padding: 10px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado {
  padding-top: 150px;
  margin: 40px;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado {
    padding-top: 0px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado h1 {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 10px;
  margin: 20px 0px;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 10px 0px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0px;
  opacity: 70%;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado h2 {
    font-size: 16px;
    margin: 10px 0px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px 0px;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado p {
    font-size: 18px;
    margin: 10px 0px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado .selectorDeCantidad {
  width: 300px;
  height: 60px;
  background: #412F26;
  opacity: 70%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(100%);
  margin: 20px 0px;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado .selectorDeCantidad {
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 18px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado .selectorDeCantidad input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #EBE5DB;
  text-align: center;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado .selectorDeCantidad input {
    font-size: 16px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado button {
  background-color: #412F26;
  color: #EBE5DB;
  width: 600px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  margin: 20px 0px;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado button {
    width: 350px;
    height: 60px;
    font-size: 18px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0px;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado h4 {
    font-size: 18px;
    margin: 10px 0px;
  }
}
.productoSeleccionado .informaciónDelProductoSeleccionado li ul {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px 0px;
}
@media (max-width: 576px) {
  .productoSeleccionado .informaciónDelProductoSeleccionado li ul {
    font-size: 16px;
    margin: 10px 0px;
  }
}

.encabezadoDeMiPerfil .apartadoIdentificadorMiPerfil {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #412F26;
  margin-left: 40px;
  padding-top: 120px;
  padding-bottom: 20px;
  text-align: center;
}
@media (max-width: 576px) {
  .encabezadoDeMiPerfil .apartadoIdentificadorMiPerfil {
    padding: 160px 40px 20px 0px;
    text-align: center;
    font-size: 28px;
    margin-left: 40px;
  }
}

.miPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.miPerfil .botonMiPerfil {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #f6f5ec;
  box-shadow: 20px 20px 39px #8f8e89, -20px -20px 39px #ffffff;
}
@media (max-width: 576px) {
  .miPerfil .botonMiPerfil {
    width: 100%;
  }
}
.miPerfil .botonMiPerfil a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}
@media (max-width: 576px) {
  .miPerfil .botonMiPerfil a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
  }
}
.miPerfil .botonMiPerfil a .informacionBoton {
  display: inline-block;
  padding: 10px 150px;
}
@media (max-width: 576px) {
  .miPerfil .botonMiPerfil a .informacionBoton {
    display: inline-block;
    padding: 10px 40px;
  }
}
.miPerfil .botonMiPerfil a .informacionBoton p {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .miPerfil .botonMiPerfil a .informacionBoton p {
    font-size: 20px;
    font-weight: 500;
  }
}
.miPerfil .botonMiPerfil a .informacionBoton span {
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 576px) {
  .miPerfil .botonMiPerfil a .informacionBoton span {
    font-size: 16px;
    font-weight: 300;
  }
}
.miPerfil .botonMiPerfil i {
  font-size: 36px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .miPerfil .botonMiPerfil i {
    font-size: 24px;
    padding: 5px 10px;
  }
}

/*# sourceMappingURL=main.css.map */
