.encabezadoDeMiPerfil{
    .apartadoIdentificadorMiPerfil{
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 4px;
        color: map-get($colores, secundario);
        margin-left: 40px;
        padding-top: 120px;
        padding-bottom: 20px;
        text-align: center;
        @include media-query-mobile() {
            padding: 160px 40px 20px 0px;
            text-align: center;
            font-size: 28px;
            margin-left: 40px;
        }
    }
}
.miPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    .botonMiPerfil{
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 20px;
        background: #f6f5ec;
        box-shadow:  20px 20px 39px #8f8e89,
                -20px -20px 39px #ffffff;
        @include media-query-mobile() {
            width: 100%;
        }
        a{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding-left: 20px;
            @include media-query-mobile() {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding-left: 20px;
            }
            .informacionBoton{
                display: inline-block;
                padding: 10px 150px;
                @include media-query-mobile() {
                    display: inline-block;
                    padding: 10px 40px;
                }
                p{
                    font-size: 20px;
                    font-weight: 500;
                    @include media-query-mobile() {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                span{
                    font-size: 18px;
                    font-weight: 300;
                    @include media-query-mobile() {
                        font-size: 16px;
                    font-weight: 300;
                    }
                }
            }
        }
        i{
            font-size: 36px;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            @include media-query-mobile() {
                font-size: 24px;
                padding: 5px 10px;
            }
        }
    }

}