.apartadoIdentificadorProductos{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
    color: map-get($colores, secundario);
    margin-left: 40px;
    padding-top: 120px;
    text-align: center;
    @include media-query-mobile() {
        font-size: 28px;
        letter-spacing: 2px;
        margin-left: 8px;
        padding-top: 160px;               
    }
}
.apartadoDeBusquedas{
    .contenedorDelBuscador{
        margin: 40px 0px;
        display: flex;
        justify-content: center;
        @include media-query-mobile() {
            margin: 20px 0px;
            display: flex;
            justify-content: center;
        }
        .buscador{
            width: 100%;
            max-width: 700px;
            height: 60px;
            background: map-get($colores, secundario);
            opacity: 70%;
            display: flex;
            align-items: center;
            border-radius: 60px;
            padding: 10px 20px;
            backdrop-filter: blur(4px) saturate(100%);
            @include media-query-mobile() {
                width: 100%;
                max-width: 700px;
                height: 50px;
                padding: 5px 10px;
            }
            input{
                background: transparent;
                flex: 1;
                border: 0;
                outline: none;
                padding: 24 20;
                font-size: 20px;
                color: map-get($colores, primario);
                &::placeholder{
                    color: map-get($colores, primario);
                }
                @include media-query-mobile() {
                    padding: 12px 20px;
                    font-size: 16px;
                }
            }
            button{
                border: 0;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                background: none;
                cursor: pointer;
                @include media-query-mobile() {
                    width: 60px;
                    height: 60px;
                }
                i{
                    align-items: center;
                    @include media-query-mobile() {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.productos{
    display: flex;
    @include media-query-mobile() {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .listaDeProductos{
        margin: 0px 40px 0px 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contenedorDeProducto{
            display: inline-block;
            flex-wrap: wrap;
            margin: 20px;
            border-radius: 20px;
            @include media-query-mobile() {
                display: flex;
                justify-content: center;
            }
            &:hover{
                border-radius: 20px;
                box-shadow:  20px 20px 39px #8f8e89,
                        -20px -20px 39px #ffffff;
                        @include media-query-mobile() {
                            box-shadow: none;
                        }
            }
            img{
                width: 320px;
                height: 340px;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
            div{
                background-color: map-get($colores, secundario) ;
                border-radius:0px 0px 20px 20px;
                color: map-get($colores, primario);
            }
            .informaciónDelProducto{
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                @include media-query-mobile() {
                    width: 320px; 
                }
                p{
                    font-size: 25px;
                    font-weight: 300;
                }
                .precio{
                    font-size: 20px;
                    font-weight: 500;
                    span{
                        font-size: 17px;
                        font-weight: 300;
                        @include media-query-mobile() {
                            font-size: 16px;
                        }
                    }
                }
                button{
                    background-color: map-get($colores, primario);
                    color: map-get($colores, secundario);
                    width: 250px;
                    height: 35px;
                    border-radius: 10px;
                    border: none;
                    font-size: 17px;
                    font-weight: 300;
                    cursor: pointer;
                    align-items: center;
                }
            }
        }
    }
}